:root{
  --main-color: #333336;
  --secondary-color: black;
  --text-color: #cdcdcd;
  --font-size-large: 1.5em;
}

* {
  padding: 0;
  margin: 0;
}

#contenedor-cambiar-tema{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  padding-right: 10%;
  transition: all 0.3s ease;
}

#contenedor-cambiar-tema:hover{
  cursor: pointer;
  opacity: 0.6;

}

#contenedor-cambiar-tema p{
  font-weight: bold;
  padding-right: 5px;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--secondary-color);
  overflow-y: scroll;
}

header {
  background-color: var(--main-color);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0%;
  width: 100%;
  border-bottom: var(--secondary-color) 1px solid;
  z-index: 995;
}

header h1 {
  color: var(--text-color);
  font-size: 20px;
  padding-left: 10%;
}

#contenedor-buscador {
  background-color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
  border-radius: 20px;
  width: 300px;
}
main{
  padding-top: 150px;
  padding-bottom: 150px;
}

#contenedor-buscador input {
  background-color: var(--main-color);
  color: var(--text-color);
  font-weight: bold;
  border: 1px var(--main-color) solid;
}

#contenedor-buscador input:focus {
  outline: none;

}

#contenedor-principal {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}

.cards {
  background-color: var(--main-color);
  width: 250px;
  font-size: 16px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.foto-texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.foto-texto:hover{
  opacity: 0.5;
}


.foto-texto h3,
p {
  margin-left: 10px;
}

.iconos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconos img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.iconos img:hover {
  opacity: 0.5;
}

/* Estilos generales */
#ventana {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  /* Asegúrate de que la ventana esté por encima del overlay */
  display: none;
  /* Por defecto está oculta */
  flex-direction: column;
  align-items: center;
}

#ventana.activo {
  display: flex;
  /* Mostrar cuando la ventana esté activa */
}

#linea-oculta {
  margin-top: 10px;
  width: 10%;
  height: 4px;
  background-color: var(--text-color);
  /* Color azul de la línea */
  border-radius: 50px;
  margin-bottom: 15px;

}

#ventana p {
  font-size: 16px;
  margin-bottom: 10px;
}

#ventana button {
  padding: 15px 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

#ventana button:hover {
  opacity: 0.5;
}

/* Estilos para el overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro semi-transparente */
  z-index: 1000;
  /* Justo debajo de la ventana */
  opacity: 0;
  pointer-events: none;
  /* Evita que el overlay interfiera con los clics */
  transition: opacity 0.3s ease;
}

#overlay.overlay-activo {
  opacity: 1;
  pointer-events: auto;
  /* Permite interactuar con el overlay cuando está activo */
}

#overlay.overlay-inactivo {
  opacity: 0;
  pointer-events: none;
}

footer{
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  height: 70px;
  top: 100%;
  transform: translate(0, -100%);
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: var(--secondary-color) 1px solid;

}

#ventanaEditar{
  color: white;
  z-index: 1001;
  background-color: red;
  position: fixed;
  left: 50%;
  top: 50%;
}